<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Superheroes</title>
  </head>
  <body>
    <form action="/teams" method="post">
      <h1>Create a Team and Heroes!</h1>
      <label for="team_name">Team Name:</label>
      <input type="text" name="team[name]" id="team_name">
      <br>

      <label for="team_motto">Team Motto:</label>
      <input type="text" name="team[motto]" id="team_motto">

      <h3>Hero 1</h3>
      <label for="hero_1_name">Hero's Name:</label>
      <input type="text" name="hero_1_name" id="member1_name">
      <br>
      <label for="hero_1_power">Hero's Power:</label>
      <input type="text" name="hero_1_power" id="hero_1_power">
      <br>
      <label for="hero_1_biography">Hero's Biography:</label>
      <input type="text" name="hero_1_biography" id="hero_1_biography">

      <h3>Hero 2</h3>
      <label for="hero_2_name">Hero's Name:</label>
      <input type="text" name="hero_2_name" id="hero_2_name">
      <br>
      <label for="hero_2_power">Hero's Power:</label>
      <input type="text" name="hero_2_power" id="hero_2_power">
      <br>
      <label for="hero_2_biography">Hero's Biography:</label>
      <input type="text" name="hero_2_biography" id="hero_2_biography">

      <h3>Hero 3</h3>
      <label for="hero_3_name">Hero's Name:</label>
      <input type="text" name="hero_3_name" id="hero_3_name">
      <br>
      <label for="hero_3_power">Hero's Power:</label>
      <input type="text" name="hero_3_power" id="hero_3_power">
      <br>
      <label for="hero_3_biography">Hero's Biography:</label>
      <input type="text" name="hero_3_biography" id="hero_3_biography">

      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
