<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Superheroes</title>
  </head>
  <body>
    <form action="index.html" method="post">
      <h1>Create a Team and Heroes!</h1>
      <label for="team_name"></label>
    </form>
  </body>
</html>
